<div *ngIf="hero">
  <h2 data-testid="hero-title">{{hero.name | uppercase}} Details</h2>
  <div data-testid="hero-id"><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" data-testid="hero-name-input" />
  </div>
  <button type="button" (click)="goBack()" data-testid="go-back-button">go back</button>
  <button type="button" (click)="save()" data-testid="save-button">save</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->